<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <configSections>
      </configSections>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings> 
    <add name="change_ip.Properties.Settings.db_modelConnection" connectionString="Data Source=192.168.9.250;Initial Catalog=db_model;User ID=XMI_SUPPORT;Password=Passw0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  </configuration>
